$primary-color: #444;
$primary-color-darker: #333;
$secondary-color: #eece1a;
$show-home-image: true;
/*remember: workspace settings have sass compiling .css file to the /dist/css folder! */
$home-image: url(../img/background.jpg);
$background-opacity: 0.6;
$main-footer-height: 60px;

@mixin easeOut {
    transition: all .5s ease-out;
}

@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;
            
            //Pseudo element, css treats this as an element despite it not being in the original html
            &:after {
                content:'';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;    //push behind content
                background: rgba($primary-color, $background-opacity); //need rgba for opacity
            }
        }
    }
}

// Set Text Color
@function set-text-color($color) {
    @if (lightness($color) > 40) {
        @return #000;
    } @else {
        @return #fff;
    }
}

//Media Query Mixins
// Media small
@mixin mediaSm {
    //media query
    @media screen and (max-width:500px) { //apply following css only if screen width is <= 500 px
        @content;
    }
}

// Media medium
@mixin mediaMd {
    //media query
    @media screen and (max-width:768px) { //apply following css only if screen width is <= 500 px
        @content;
    }
}

// Media Large
@mixin mediaLg {
    //media query
    @media screen and (min-width:769px) and (max-width:1170px) { //apply following css only if screen width is <= 500 px
        @content;
    }
}

// Media Extra Large
@mixin mediaXl {
    //media query
    @media screen and (min-width:1171px) { //apply following css only if screen width is <= 500 px
        @content;
    }
}