@import 'config';
@import 'menu';


/* The '*' simply means apply to all html elements*/
* {
    box-sizing: border-box;
}

//body
body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

//headings 
h1, 
h2, 
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
    }
    /*rem is multiplier of html tag's font size 
    (defualt is 16 pixels unless set otherwise so 6rem = 16*6 = 96 pixels)*/

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rgba(lighten($color: $primary-color, $amount: 2), 0.5);
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    height: 100%;
    min-height: calc(100vh - $main-footer-height); // sticky footer: since the height of main class is 100% its 
                                                   // height will be 100% of the content inside it (large enough to hold 100% of it as opposed to say 80)
                                                   // So by using calc() here for main's minimum height our css ensures footer is always placed at bottom 

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;
            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
            /*vh is viewport height on scale of 100 so 20vh is 20 of 100 view height units*/
        }
    }
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
        'bioimage bio bio'
        'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 3px solid;
    }
    
    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }
    
    .job-1 {
        grid-area: job1;
    }
    
    .job-2 {
        grid-area: job2;
    }
    
    .job-3 {
        grid-area: job3;
    }
    
    .job {
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
    }
}

// Portfolio Projects
.projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);

    img {
        @include easeOut;
        width: 100%;
        border: 3px #fff solid;
        opacity: 0.5;

        &:hover {
            opacity: 1.0;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}

// Button Styles
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover {
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
}

.btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: $main-footer-height;
}

// run media queries after initial css
@import 'mobile';